<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">

                <form (ngSubmit)="onSubmit(changePassForm)" #changePassForm="ngForm">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Mật Khẩu Cũ" name="oldPass" ngModel
                            #oldPassword="ngModel" required>

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                        
                    </div>
                    <span id="errorMessagename" style="color: red;"
                        *ngIf="oldPassword.errors?.required && oldPassword.touched">Mật Khẩu Cũ không được để
                        trống</span>
                   
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Mật Khẩu Mới" name="newPass" ngModel
                            #newPassword="ngModel" required>

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                        
                    </div>
                    <span id="errorMessagename" style="color: red;"
                            *ngIf="newPassword.errors?.required && newPassword.touched">Mật Khẩu Mới không được để
                            trống</span>
                      
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Xác Nhận Mật Khẩu Mới"
                            name="confirmNewPass" ngModel #confirmNewPassword="ngModel" required
                            >

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    <span id="errorMessagename" style="color: red;"
                        *ngIf="confirmNewPassword.errors?.required && confirmNewPassword.touched">Mật Khẩu không được để trống</span>
                   
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" [disabled]="changePassForm.invalid"
                                class="btn btn-primary btn-block">Yêu Cầu Mật Khẩu Mới</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</body>

</html>