<div class="card-body">
  <table id="example1" class="table table-bordered table-striped">
      <thead>
          <tr>
              <th>Tên Quyền Lợi</th>
              <th>Loại Yêu Cầu</th>
              <th>Người Gửi</th>
              <th>Thời Gian</th>
              <th>Chi Tiết</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Quyền Lợi 001</td>
              <td>Thêm</td>
              <td>anv001</td>
              <td>20-01-2021</td>
              <td><button type="button" class="btn btn-block btn-primary">
                <a [routerLink]="['/detail-solution-request']">Chi Tiết</a></button></td>
          </tr>
          <tr>
            <td>Quyền Lợi 002</td>
              <td>Chỉnh Sửa</td>
              <td>anv001</td>
              <td>20-01-2021</td>
              <td><button type="button" class="btn btn-block btn-primary">
                <a [routerLink]="['/detail-solution-request']">Chi Tiết</a></button></td>
        </tr>
        <tr>
            <td>Quyền Lợi 001</td>
            <td>Tạm Ngưng</td>
            <td>anv001</td>
            <td>20-01-2021</td>
            <td><button type="button" class="btn btn-block btn-primary">
              <a [routerLink]="['/detail-solution-request']">Chi Tiết</a></button></td>
      </tr>
      </tbody>
      <tfoot>
          <tr>
            <th>Tên Quyền Lợi</th>
              <th>Loại Yêu Cầu</th>
              <th>Người Gửi</th>
              <th>Thời Gian</th>
              <th>Chi Tiết</th>
          </tr>
      </tfoot>
  </table>
</div>
