<mat-dialog-content class="mat-typography">
    <div class="col-12">
        <div class="card-header">
            <h2><b>Form Xét Duyệt</b></h2>
        </div>
        <form #reviewForm="ngForm">
            <table class="table">

                <tr>
                    <th>Quyết Định Xét Duyệt</th>
                    <td>
                        <select class="custom-select" [(ngModel)]="approveStatus" name="approveStatus" required>
                            <option value="DX">Đề Xuất</option>
                            <option value="YCT">Yêu Cầu Bổ Sung</option>
                            <option value="TC">Từ Chối</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Số tiền chi trả</th>
                    <td><input class="form-control" type="number" placeholder="VND" [(ngModel)]="amountMoney"
                            name="amountMoney"></td>
                </tr>
                <tr>
                    <th>Độ Ưu Tiên</th>
                    <div class="form-group">
                        <select class="form-control" name="priority" [(ngModel)]="priority" required>
                            <option value="Cao">Cao</option>
                            <option value="Thấp">Thấp</option>
                        </select>
                    </div>
                </tr>
                <tr>
                    <th>Ghi Chú</th>
                    <td><textarea class="form-control" rows="3" maxlength="2000" placeholder="Enter ..."
                            name="description" [(ngModel)]="description" #note="ngModel" required>
                        <span id="errorMessagename" style="color: red;" *ngIf="note.errors?.required && note.touched">Ghi Chú không được để trống</span>
                                    
                    </textarea>
                    </td>
                </tr>
                <tr *ngFor="let mainBenefitScale of listMainBenefitScale">
                    <td>{{mainBenefitScale.name}}</td>
                    <td>{{mainBenefitScale.scale}}</td>
                </tr>
                <tr *ngFor="let subBenefitScale of listSubBenefitScale">
                    <td>{{subBenefitScale.name}}</td>
                    <td>{{subBenefitScale.scale}}</td>
                </tr>

            </table>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Hủy</button>
    <button mat-button mat-dialog-close [disabled]="reviewForm.invalid" type="submit" (click)="Review()">Lưu</button>
</mat-dialog-actions>