<mat-dialog-content class="mat-typography">
    <!-- <div class="card-header"> -->
    <h2><b>Xét duyệt yêu cầu giải quyết quyền lợi bảo hiểm</b></h2>
    <!-- </div> -->
    <div class="row flex">
        <div class="col-12 col-md-6 col-lg-6">
            <table id="table1">
                <tbody>
                    <th class="td1" colspan="3">Loại chính</th>
                    <tr *ngFor="let mainBenefitScale of listMainBenefitScale">
                        <td>{{mainBenefitScale.name}}</td>
                        <td id="tienChinh">{{mainBenefitScale.scale * mainBenefit.denominations|currency : "VND"}}</td>
                        <td>
                            <input type="radio" name="chinh"
                                (change)="handleChange1(mainBenefitScale.scale * mainBenefit.denominations, mainBenefitScale.name)">
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table *ngIf="listSubBenfitItem.length > 0" id="table1">
                <tbody>
                    <th class="td1" colspan="3">Loại phụ</th>
                    <ng-container *ngFor="let subBenefitItem of listSubBenfitItem">
                        <tr *ngFor=" let subBenefitScale of subBenefitItem.listSubBenefitScale">
                            <td>{{subBenefitScale.name}}</td>
                            <td>{{subBenefitScale.scale * subBenefitItem.denominations|currency : "VND"}}</td>
                            <td>
                                <input type="radio" name="phu" id="phu"
                                    (change)="handleChange2(subBenefitScale.scale * subBenefitItem.denominations, subBenefitScale.name)">
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <!-- <div class="col-12 col-md-6 col-lg-4"> -->
        <div class="table-money">
            <form #reviewForm="ngForm">
                <table class="table">
                    <tr>
                        <th style="height: 20%;">Quyết định xét duyệt</th>
                        <td>
                            <select class="custom-select" [(ngModel)]="approveStatus" name="approveStatus" required
                                style="font-size: 14px;">
                                <option value="DX">Đề Xuất</option>
                                <option value="YCT">Yêu Cầu Bổ Sung</option>
                                <option value="TC">Từ Chối</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th style="height: 20%;">Số tiền chi trả</th>
                        <td class="td-table2"><input class="form-control" type="number" placeholder="VND"
                                [(ngModel)]="amountMoney" name="amountMoney"></td>
                    </tr>
                    <tr>
                        <th>Ghi Chú</th>
                        <td class="td-table2"><textarea class="form-control" rows="8" maxlength="2000"
                                placeholder="Nhập..." name="description" [(ngModel)]="description" #note="ngModel"
                                required>
                        <span id="errorMessagename" style="color: red;" *ngIf="note.errors?.required && note.touched">Ghi Chú không được để trống</span>
                    </textarea>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Hủy</button>
    <button mat-button mat-dialog-close [disabled]="reviewForm.invalid" type="submit" (click)="Review()">Gửi</button>
</mat-dialog-actions>