input {
    border-color: darkslategrey;
}

select {
    border-color: darkslategrey;
}

textarea {
    border-color: darkslategrey;
} 

/* .container {
    background-image: url(https://www.canva.com/design/DAEkOj9OVII/share/preview?token=0iOyElJzQsLF-fOBYd8GSw&role=EDITOR&utm_content=DAEkOj9OVII&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton) no-repeat;
} */