<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">

                <form (ngSubmit)="onSubmit(forgotPass)" #forgotPass="ngForm">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Nhập Địa Chỉ Email Đăng Ký" name="email" ngModel #email="ngModel" required pattern="^[\w\d_\.]{5,32}@[\.\-_\w\d]{2,}(\.[\w\d]{2,4}){1,2}$">

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" [disabled]="forgotPass.invalid" class="btn btn-primary btn-block">Yêu Cầu Mật Khẩu Mới</button>
                        </div>

                    </div>
                    <div style="margin-top: 10px;">
                        <a href="/login">Trở Về</a>
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</body>

</html>