.searchBar{
    width: 100%; 
    margin-top: 1%;
    margin-bottom: 1%;
}
.searchWithDateandValue{
    width: 100%;
    display: flex;
}
.date{
    width: 100%;
}
.left{
    width: 50%;
}
.right{    
    float: right;
    width: 50%;
}
.btn-date{
    width: 23%; 
    height: 45%; 
    margin-left: 3%;
    margin-bottom: 10px;
}
th {
    cursor: pointer;
}