<h2 mat-dialog-title class="title-dialog">THANH TOÁN QUA NGÂN HÀNG</h2>
<mat-dialog-content class="mat-topography">
    <p class="order"><b>2.1 Dịch vụ thu phí tự động qua tài khoản thanh toán VietinBank</b></p>
    <p>Khách hàng có tài khoản thanh toán VietinBank có thể đăng ký thu phí bảo hiểm ISolution tự<br> động tại các quầy
        giao
        dịch của VietinBank trên toàn quốc hoặc đăng ký trên iPay. Đến kỳ<br> thanh toán, hệ thống sẽ tự động trừ số
        tiền
        trong tài khoản thanh toán của khách hàng<br> tương ứng với số tiền phải nộp.</p>
    <p><em><b>Lưu ý: Trường hợp Quý khách thay đổi định kỳ đóng phí của HĐBH thì cần liên hệ lại<br> với VietinBank để
                cập nhật lại ngày thanh toán.</b></em></p>

    <p class="order"><b>2.2 Dịch vụ ngân hàng trực tuyến (Internet Banking)</b></p>
    <p>Quý khách có tài khoản tại Ngân hàng VietinBank, Viecombank và BIDV sử dụng dịch vụ<br> Ngân hàng trực tuyến để
        thanh
        toán phí bảo hiểm cho ISolution theo từng tài khoản của ISolution
        <br> ở các ngân hàng này (xem danh sách tài khoản ngân hàng bên dưới).
    </p>
    <p>Quý khách có tài khoản ngân hàng Vietcombank hoặc VietinBank có thể chọn hình thức<br> "Thanh toán hóa đơn" hoặc
        "Tạo
        lịch chuyển tiền" để thực hiện giao dịch. Xin vui lòng<br> xem hướng dẫn chi tiết <a>tại đây.</a></p>
    <p>Ngoài ra, Quý khách có thể chủ động sử dụng dịch vụ Ngân hàng trực tuyến của các ngân<br> hàng khác để thanh toán
        phí
        bảo hiểm vào một trong những tài khoản ngân hàng của<br> ISolution với thông tin thanh toán như hướng dẫn ở mục
        "Chuyển
        khoản bằng Ủy nhiệm chi"<br> nếu ngân hàng đó có cung cấp dịch vụ này. Phí dịch vụ có thể áp dụng tùy theo quy
        định<br>
        của từng ngân hàng.
    </p>

    <p class="order"><b>2.3 Chuyển khoản bằng Ủy nhiệm chi</b></p>
    <p>Quý khách có thể đến ngân hàng nơi mình có tài khoản và thực hiện thanh toán phí bảo<br> hiểm cho ISolution thông
        qua
        hình thức Ủy nhiệm chi (Lệnh chuyển khoản) với các thông tin<br> như sau:</p>
    <ul style="list-style-type:circle">
        <li class="li-list">Tên đơn vị thụ hưởng: Hệ thống bảo hiểm ISolution</li>
        <li class="li-list">Tài khoản thụ hưởng (ghi một trong các tài khoản dưới đây)</li>
    </ul>
    <table class="table">
        <thead>
            <tr>
                <th class="bg-secondary">Ngân hàng</th>
                <th class="bg-secondary">Số tài khoản</th>
                <th class="bg-secondary">Chi nhánh</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color:lightgray; color: black" rowspan="2" class="td1">Ngân hàng Công thương
                    Việt<br> Nam -VietinBank<br></td>
                <td style="background-color:lightgray; color: black" class="td1">144.000.000.306 (Nếu BMBH là<br> KH
                    cá
                    nhân)</td>
                <td style="background-color:lightgray; color: black" class="td1">Chi nhánh<br> Chương Dương</td>
            </tr>
            <tr>
                <td style="background-color:lightgray; color: black">140.000.000.391 (nếu BMBH là<br> KH doanh nghiệp)
                </td>
                <td style="background-color:lightgray; color: black">Chi nhánh TP.<br> Hà Nội</td>
            </tr>
            <tr>
                <td style="background-color:lightgray; color: black">Ngân hàng TMCP Ngoại thương<br> Việt Nam -
                    Vietcombank</td>
                <td style="background-color:lightgray; color: black">061.100.022.6868</td>
                <td style="background-color:lightgray; color: black">Chi nhánh Ba<br> Đình</td>
            </tr>
            <tr>
                <td style="background-color:lightgray; color: black">Ngân hàng TMCP Đầu tư và phát<br> triển Việt Nam
                    -
                    BIDV</td>
                <td style="background-color:lightgray; color: black">2121.000.888.6688</td>
                <td style="background-color:lightgray; color: black">Chi nhánh Tây<br> Hồ</td>
            </tr>
        </tbody>
    </table>
    <p>Nội dung nộp: Tên BMBH - Số HĐ/YCBH - Lý do nộp (có thể là: phí BH đầu tiên/ phí BH tái<br> tục/ phí điều chỉnh/
        hoàn
        trả tạm ứng...)</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Đóng</button>
</mat-dialog-actions>