#chart1 {
    margin: auto;
}

#chart2 {
    margin: auto;
}

#chart3 {
    margin: auto;
}

.bold {
    font-size: 3rem;
}

.text-header {
    text-transform: none;
}

.space{
    font-size: 3rem;
}

.small-box-footer {
    color: black;
}

.chart-title {
    margin-top: 30px;
}

.content-wrapper-modify {
    min-height: 671px;
}

.div-modify {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}

.col-lg-3{
    border: solid 1 black;
}

