<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="hold-transition sidebar-mini"> -->
<div class="wrapper">
    <div class="content-wrapper-modify">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <a [routerLink]="" class="small-box-footer">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-number" style="font-size: 1.5rem;"></span>
                                    <span class="info-box-text"></span>
                                </div>

                                <div class="info-box-content">
                                    <span class="info-box-number" style="font-size: 1.5rem;"></span>
                                    <span class="info-box-text"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <a href="" class="small-box-footer">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-danger elevation-1"><i
                                        class="fas fa-file-contract"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-number" style="font-size: 1.5rem;"></span>
                                    <span class="info-box-text"></span>
                                </div>
                                <div class="info-box-content">
                                    <span class="info-box-number" style="font-size: 1.5rem; "></span>
                                    <span class="info-box-text"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-6">
                        <a [routerLink]="" class="small-box-footer">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-number" style="font-size: 1.5rem;"></span>
                                    <span class="info-box-text"></span>
                                </div>

                                <div class="info-box-content">
                                    <span class="info-box-number" style="font-size: 1.5rem;"></span>
                                    <span class="info-box-text"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-6">
                        <a href="" class="small-box-footer">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-warning elevation-1"><i
                                        class="fas fa-user-plus"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-number" style="font-size: 1.5rem;"></span>
                                    <span class="info-box-text"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- /.row -->
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->

                    <div class="col-lg-7">
                        <h2 class="chart-title">Biều đồ doanh thu năm {{year}}</h2>
                        <div id="chart1">
                            <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                                [xaxis]="chartOptions1.xaxis" [markers]="chartOptions1.markers"
                                [stroke]="chartOptions1.stroke" [yaxis]="chartOptions1.yaxis"
                                [dataLabels]="chartOptions1.dataLabels" [fill]="chartOptions1.fill"
                                [tooltip]="chartOptions1.tooltip" [legend]="chartOptions1.legend"
                                [colors]="chartOptions1.colors">
                            </apx-chart>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <h2 class="chart-title">Biều đồ tỷ lệ sản phẩm bán được năm {{year}}</h2>
                        <div id="chart2">
                            <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                                [labels]="chartOptions2.labels" [responsive]="chartOptions2.responsive"></apx-chart>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h2 class="chart-title">Biều đồ chi trả năm {{year}}</h2>
                        <div id="chart3">
                            <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart"
                                [xaxis]="chartOptions3.xaxis" [markers]="chartOptions3.markers"
                                [stroke]="chartOptions3.stroke" [yaxis]="chartOptions3.yaxis"
                                [dataLabels]="chartOptions3.dataLabels" [fill]="chartOptions3.fill"
                                [tooltip]="chartOptions3.tooltip" [legend]="chartOptions3.legend"
                                [colors]="chartOptions3.colors">
                            </apx-chart>
                        </div>
                    </div>


                    <!-- Process Group -->
                    <div class="col-lg-2 col-6">
                        <div class="info-box mb-3">
                            <div class="info-box-content">
                                <h1 style="text-align: center; font-weight: 500;">{{listPredic[month -1].revenue |
                                    currency:"VND"}}</h1>
                                <span class="info-box-text" style="text-align: center;">Tổng doanh thu của tháng
                                    {{month}}</span>
                                <!-- <div style="width:80%;height:50px;"
                                    [ngStyle]="{'background':'linear-gradient(to right, '+progressColor+' '+progress+'%, '+remainingProgressColor+' '+progress2+'%'}">
                                </div> -->
                            </div>

                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <!-- /.row (main row) -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- </body>

</html> -->