<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="content-wrapper-modify">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <a [routerLink]="" class="small-box-footer">
                                <div class="info-box mb-3">
                                    <span class="info-box-icon bg-success elevation-1"><i
                                            class="fas fa-users"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-number" style="font-size: 1.5rem;"></span>
                                        <span class="info-box-text"></span>
                                    </div>

                                    <div class="info-box-content">
                                        <span class="info-box-number" style="font-size: 1.5rem;"></span>
                                        <span class="info-box-text"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <a href="" class="small-box-footer">
                                <div class="info-box mb-3">
                                    <span class="info-box-icon bg-danger elevation-1"><i
                                            class="fas fa-file-contract"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-number" style="font-size: 1.5rem;"></span>
                                        <span class="info-box-text"></span>
                                    </div>
                                    <div class="info-box-content">
                                        <span class="info-box-number" style="font-size: 1.5rem; "></span>
                                        <span class="info-box-text"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-6">
                            <a [routerLink]="" class="small-box-footer">
                                <div class="info-box mb-3">
                                    <span class="info-box-icon bg-success elevation-1"><i
                                            class="fas fa-users"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-number" style="font-size: 1.5rem;"></span>
                                        <span class="info-box-text"></span>
                                    </div>

                                    <div class="info-box-content">
                                        <span class="info-box-number" style="font-size: 1.5rem;"></span>
                                        <span class="info-box-text"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-6">
                            <a href="" class="small-box-footer">
                                <div class="info-box mb-3">
                                    <span class="info-box-icon bg-warning elevation-1"><i
                                            class="fas fa-user-plus"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-number" style="font-size: 1.5rem;"></span>
                                        <span class="info-box-text"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- /.row -->
                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="col-lg-12 connectedSortable ui-sortable">
                            <div class="div-modify">
                                <h2 class="chart-title">Biều đồ doanh thu - chi trả năm {{year}}</h2>
                                <div id="chart1">
                                    <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                                        [xaxis]="chartOptions1.xaxis" [markers]="chartOptions1.markers"
                                        [stroke]="chartOptions1.stroke" [yaxis]="chartOptions1.yaxis"
                                        [dataLabels]="chartOptions1.dataLabels" [fill]="chartOptions1.fill"
                                        [tooltip]="chartOptions1.tooltip" [legend]="chartOptions1.legend">
                                    </apx-chart>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- /.row (main row) -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
    </div>
</body>

</html>