<table class=" table table-bordered ">
  <thead>
      <tr>
          <th>Hạng Mục</th>
          <th>Nội Dung</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Mã Quyền Lợi</td>
          <td>#1001</td>
      </tr>
      <tr>
          <td>Tên Quyền Lợi</td>
          <td>Quyền Lợi 001</td>
      </tr>
      <tr>
          <td>Loại Xét Duyệt</td>
          <td>Thêm Mới</td>
      </tr>
      <tr>
          <td>Người Gửi</td>
          <td>anv001</td>
      </tr>
      <tr>
        <td>Ngày Gửi</td>
        <td>20-01-2021</td>
      </tr>
      <tr>
        <td>Mô Tả Quyền Lợi</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Sunt, voluptas reiciendis? Ratione impedit sunt consequatur ut at harum aspernatur quis nulla ducimus.<br> At expedita amet eum. Vel commodi veritatis ea!</td>
      </tr>
      <tr>
        <td>Giấy Tờ Liên Quan</td>
        <td>
          <img src="https://img.topbank.vn/2020/02/24/b8awMTJx/minh-hoa-bao-hiem-nhan-tho-4b46.jpg"/>
        </td>
      </tr>
      <tr>
        <td colspan="2"><button type="button" class="btn btn-block btn-primary btn-sm">Chấp Nhận</button></td>
      </tr>
      <tr>
        <td colspan="2"><button type="button" class="btn btn-block btn-danger btn-sm">Từ Chối</button></td>
      </tr>
  </tbody>
</table>
