<h2 mat-dialog-title class="title-dialog">THANH TOÁN BẰNG TIỀN MẶT</h2>
<mat-dialog-content class="mat-topography">
    <p class="order"><b>3.1 Tại điểm giao dịch của ngân hàng VietinBank, Vietcombank và BIDV toàn<br> quốc:</b></p>
    <p>Quý khách có thể đến bất kỳ điểm giao dịch nào của các ngân hàng được liệt kê ở trên để<br> thanh toán phí bảo
        hiểm.</p>
    <p>Đặc biệt, Quý khách đến các điểm giao dịch VietinBank chỉ cần cung cấp SỐ HỢP ĐỒNG<br> của ISolution sẽ được Giao
        dịch viên ngân hàng truy vấn thông tin và in Giấy nộp tiền từ hệ<br> thống của VietinBank.</p>
    <p><em><b>Lưu ý: Quý khách sẽ được miễn phí khi thực hiện dịch vụ tại VietinBank và BIDV. Ngân<br> hàng Vietcombank
                sẽ thu phí dịch vụ theo quy định của ngân hàng.</b></em></p>
    <p>Quý khách vui lòng ghi trên giấy nộp tiền thông tin cần thiết như sau:</p>
    <ul style="list-style-type:circle">
        <li class="li-list">Tên đơn vị thụ hưởng: Hệ thống bảo hiểm ISolution</li>
        <li class="li-list">Tài khoản thụ hưởng (ghi một trong các tài khoản dưới đây)</li>
    </ul>
    <table class="table">
        <thead>
            <tr>
                <th class="bg-secondary">Ngân hàng</th>
                <th class="bg-secondary">Số tài khoản</th>
                <th class="bg-secondary">Chi nhánh</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color:lightgray; color: black" rowspan="2" class="td1">Ngân hàng Công thương
                    Việt<br> Nam -VietinBank<br></td>
                <td style="background-color:lightgray; color: black" class="td1">144.000.000.306 (Nếu BMBH là<br> KH
                    cá
                    nhân)</td>
                <td style="background-color:lightgray; color: black" class="td1">Chi nhánh<br> Chương Dương</td>
            </tr>
            <tr>
                <td style="background-color:lightgray; color: black">140.000.000.391 (nếu BMBH là<br> KH doanh nghiệp)
                </td>
                <td style="background-color:lightgray; color: black">Chi nhánh TP.<br> Hà Nội</td>
            </tr>
            <tr>
                <td style="background-color:lightgray; color: black">Ngân hàng TMCP Ngoại thương<br> Việt Nam -
                    Vietcombank</td>
                <td style="background-color:lightgray; color: black">061.100.022.6868</td>
                <td style="background-color:lightgray; color: black">Chi nhánh Ba<br> Đình</td>
            </tr>
            <tr>
                <td style="background-color:lightgray; color: black">Ngân hàng TMCP Đầu tư và phát<br> triển Việt Nam
                    -
                    BIDV</td>
                <td style="background-color:lightgray; color: black">2121.000.888.6688</td>
                <td style="background-color:lightgray; color: black">Chi nhánh Tây<br> Hồ</td>
            </tr>
        </tbody>
    </table>
    <p>Nội dung nộp: Tên BMBH - Số HĐ/ YCBH - Lý do nộp (có thể là: phí BH đầu tiên/ phí BH tái<br> tục/ phí điều chỉnh/
        phí
        hoàn trả tạm ứng...)</p>

    <p class="order"><b>3.2 Tại trung tâm Dịch vụ khách hàng của ISolution trên toàn quốc:</b></p>
    <p>Quý khách có thể đến giao dịch tại Trung tâm Dịch vụ Khách hàng gần nhất của ISolution<br> trên toàn quốc.</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Đóng</button>
</mat-dialog-actions>