<div id="header">
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar top-nav-collapse-cust">
        <div style="position: relative; left: 1%;">
            <img src="assets/images/favicon.png" width="45px">
        </div>
        <div class="container container-cust">
            <a href="index.html" class="navbar-brand"><img src="assets/img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                    <a class="nav-link" href="/">
                        <li class="nav-item active">

                            Trang Chủ

                        </li>
                    </a>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#">
                            Các Gói Bảo Hiểm
                            </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="nav-link" href="feature">
                            </a><a class="dropdown-item" href="detail-page-customerweb/1"> Bảo hiểm chăm sóc y tế </a>
                            <a class="dropdown-item" href="detail-page-customerweb/2">Bảo hiểm phẫu thuật và điều trị ngoại khoa</a>
                            <a class="dropdown-item" href="detail-page-customerweb/3">Chăm sóc sức khỏe dành cho phụ nữ</a>
                            <a class="dropdown-item" href="detail-page-customerweb/4">Bảo hiểm tai nạn toàn diện</a>
                            <a class="dropdown-item" href="detail-page-customerweb/5">Bảo hiểm các bệnh lý nghiêm trọng</a>
                        </div>


                    </li>
                    <li *ngIf="common.getCookie('token_customer')" class="nav-item dropdown">
                        <a class="nav-link">Tài Liệu Của Bạn</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="nav-link" href="services">
                            </a><a class="dropdown-item" href="illustration-customerweb">Danh sách bản minh họa</a>
                            <a class="dropdown-item" href="contract-customerweb">Danh sách hợp đồng</a>
                        </div>


                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="compensation-treatment">
                            Xử lý bồi thường
                        </a>
                    </li>
                    <li *ngIf="!common.getCookie('token_customer')" class="nav-item">
                        <a class="nav-link" href="login-customerweb">
                            Đăng Nhập
                        </a>
                    </li>
                    <li *ngIf="common.getCookie('token_customer')" class="nav-item dropdown container-image-cust">
                        <img src="../../assets/images/profile_man.png" class="img_customer">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="profile-customerweb">Thông tin cá nhân</a>
                            <a class="dropdown-item" href="change-pass-customerweb">Đổi Mật Khẩu</a>
                            <a class="dropdown-item" (click)="exit()" style="cursor: pointer;">THOÁT</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>