<div id="header">
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar top-nav-collapse-cust">
        <div style="position: relative; left: 1%;">
            <img src="assets/images/favicon.png" width="45px">
        </div>
        <div class="container container-cust">
            <a href="index.html" class="navbar-brand"><img src="assets/img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                    <a class="nav-link" href="/">
                        <li class="nav-item active">
                            Trang Chủ
                        </li>
                    </a>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#">
                            Các Gói Bảo Hiểm
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="nav-link" href="feature">
                            </a><a class="dropdown-item" href="detail-page-customerweb/1"> Bảo hiểm chăm sóc y tế </a>
                            <a class="dropdown-item" href="detail-page-customerweb/2">Bảo hiểm phẫu thuật và điều trị
                                ngoại khoa</a>
                            <a class="dropdown-item" href="detail-page-customerweb/3">Chăm sóc sức khỏe dành cho phụ
                                nữ</a>
                            <a class="dropdown-item" href="detail-page-customerweb/4">Bảo hiểm tai nạn toàn diện</a>
                            <a class="dropdown-item" href="detail-page-customerweb/5">Bảo hiểm các bệnh lý nghiêm
                                trọng</a>
                        </div>
                    </li>
                    <li *ngIf="common.getCookie('token_customer')" class="nav-item dropdown">
                        <a class="nav-link">Tài Liệu Của Bạn</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="nav-link" href="services">
                            </a><a class="dropdown-item" href="illustration-customerweb">Danh sách bản minh họa</a>
                            <a class="dropdown-item" href="contract-customerweb">Danh sách hợp đồng</a>
                            <a class="dropdown-item" href="list-request-customer">Danh sách yêu cầu bồi thường</a>
                        </div>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="compensation-treatment">
                            Xử lý bồi thường
                        </a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="customer-help">
                            Hỗ trợ khách hàng
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="compensation-treatment">Giải quyết Quyền lợi bảo hiểm</a>
                            <a class="dropdown-item" href="customer-care">Chăm sóc khách hàng</a>
                            <a class="dropdown-item" href="claim-submit-form">Nộp hồ sơ yêu cầu bồi thường</a>
                            <a class="dropdown-item" href="payment-guide">Đóng phí bảo hiểm</a>

                        </div>
                    </li>
                    <li *ngIf="!common.getCookie('token_customer')" class="nav-item">
                        <a class="nav-link" href="login-customerweb">
                            Đăng Nhập
                        </a>
                    </li>
                    <ng-template [ngIf]="common.getCookie('token_customer')">

                        <li class="nav-item dropdown">
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <span class="dropdown-item dropdown-header">{{listNotifications.length}} thông
                                    báo</span>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item" *ngFor="let noti of listNotifications">
                                    <i *ngIf="noti.type == 1">
                                        <img src="assets/images/money-transfer.png"> {{noti.title}}</i>
                                    <i *ngIf="noti.type == 2">
                                        <img src="assets/images/add-file.png"> {{noti.title}}</i>
                                    <i *ngIf="noti.type == 3">
                                        <img src="assets/images/online-advertising (1).png"> {{noti.title}}</i>
                                    <i *ngIf="noti.type == 4">
                                        <img src="assets/images/cake.png"> {{noti.title}}</i>
                                    <span class="text-muted text-sm">{{noti.description}}</span>
                                    <span class="text-muted text-sm"><i class="far fa-clock mr-1">{{noti.date |
                                            date}}</i></span>
                                </a>
                            </div>
                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="far fa-bell"></i>
                                <span class="badge badge-warning navbar-badge"
                                    *ngFor="let noti of listNotifications">{{listNotifications.length}}</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown container-image-cust">
                            <img src="../../assets/images/profile_man.png" class="img_customer">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="profile-customerweb">Thông tin cá nhân</a>
                                <a class="dropdown-item" href="change-pass-customerweb">Đổi Mật Khẩu</a>
                                <a class="dropdown-item" (click)="exit()" style="cursor: pointer;">THOÁT</a>
                            </div>
                        </li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </nav>
</div>