<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>HỒ SƠ ĐANG CHỜ ĐƯỢC XÉT DUYỆT</h1>
                        </div>

                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">DataTables</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">DataTable with default features</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mã Hợp Đồng</th>
                                                <th>Mã Khách Hàng</th>
                                                <th>Chủ Hợp Đồng</th>
                                                <th>Kỳ Hạn</th>
                                                <th>Loại Bảo Hiểm</th>
                                                <th>Mã Bản Minh Họa</th>
                                                <th>Trạng Thái</th>
                                                <th>Tổng Số Tiền</th>
                                                <th>Tổng Tiền Đã Trả</th>
                                                <th>Ngày Đăng Ký</th>
                                                <th>Ngày Hết Hạn</th>
                                                <th>Chi Tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>#JHBVJHJHV798</td>
                                                <td>#1000</td>
                                                <td>Nguyễn Văn A</td>
                                                <td>25 Năm</td>
                                                <td>Bảo Hiểm Nhân Thọ</td>
                                                <td>#1000</td>
                                                <td>Pending</td>
                                                <td>440.000.000 VNĐ</td>
                                                <td>60.000.000 VNĐ</td>
                                                <td>20-11-2020</td>
                                                <td>20-11-2046</td>
                                                <td><a href="chitiet.html">Chi Tiết</a></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Mã Hợp Đồng</th>
                                                <th>Mã Khách Hàng</th>
                                                <th>Chủ Hợp Đồng</th>
                                                <th>Kỳ Hạn</th>
                                                <th>Loại Bảo Hiểm</th>
                                                <th>Mã Bản Minh Họa</th>
                                                <th>Trạng Thái</th>
                                                <th>Tổng Số Tiền</th>
                                                <th>Tổng Tiền Đã Trả</th>
                                                <th>Ngày Đăng Ký</th>
                                                <th>Ngày Ngày Hết Hạn</th>
                                                <th>Chi Tiết</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Quick Example</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Mã Hợp Đồng</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Mã Khách Hàng</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                        </div>


                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tên Chủ Hợp Đồng</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Kỳ Hạn</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Loại Bảo Hiểm</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tổng Số Tiền Phải Trả</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tổng Số Tiền Đã Trả</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Ngày Đăng Ký</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Ngày Hết Hạn</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->


</body>

</html>