<!DOCTYPE html>
<html>

<head>
    <!-- <title>HTML Backgorund Color</title> -->
</head>

<body style="background-color: gray;">
    <div class="container">
        <div class="card-header">
            <div class="form-row">
                <div class="col-md-6 mb-1">
                    <img src="assets/images/favicon.png" class="png-logo"><br>
                    <span class="name-sys">HỆ THỐNG BẢO HIỂM ISOLUTION</span>
                </div>
                <div class="col-md-6 mb-1">
                    <h2><b>Giấy yêu cầu bồi thường bảo hiểm <br>"Bảo hiểm ISolution"</b></h2>
                    <span class="note"><em>Vui lòng đọc kỹ và điền đầy đủ thông tin theo những nội dung dưới
                            đây</em></span>
                </div>
            </div>
        </div>

        <div class="card-detail">
            <div class="title-card">
                <h2>Phiếu đề xuất thanh toán</h2>
                <p><b>Kính gửi: </b> <span class="dear1"> - Ban giám đốc Hệ thống Bảo hiểm ISolution Việt Nam</span><br>
                    <span class="dear2"> - Bộ phận giải quyết quyền lợi bảo hiểm</span>
                </p>
            </div>

            <div class="info-claim">
                <span style="margin-left: 3rem;">Tôi tên là: {{ employeinfoDTO.name }}</span>
                <span style="margin-left: 12.8rem;">Mã số nhân viên: {{employeinfoDTO.id}}</span><br>
                <span style="margin-left: 3rem;">Số CMND/CCCD: {{employeinfoDTO.id_card}} </span>
                <span style="margin-left: 10rem;">Điện thoại: {{employeinfoDTO.phone}}</span><br>
                <span style="margin-left: 3rem;">Địa chỉ liên hệ: {{employeinfoDTO.conadd_no_street}},
                    {{employeinfoDTO.conadd_district}}, {{employeinfoDTO.conadd_city}}</span><br>
                <span style="margin-left: 3rem;">Chức vụ: Thẩm định viên giải quyết quyền lợi bảo hiểm</span><br>
                <p>Xin thông báo cho ISolution Việt Nam thông tin sự kiện bảo hiểm (SKBH) sau đây: </p>
            </div>

            <div class="claim-info" style="margin-bottom: 1rem;">
                <p class="claim-info-title"><b> Sự kiện bảo hiểm (SKBH): <span
                            style="color: black;">{{req.name}}</span></b></p>
                <p><b>Loại sự kiện bảo hiểm: </b></p>
                <span style="margin-left: 3rem; text-indent: 1em;"> + Loại chính: {{req.main_benefit}}</span><br>
                <span style="margin-left: 3rem; text-indent: 1em;"> + Số tiền bồi thường cho loại chính:
                    {{req.amount_main}} (VNĐ)</span><br>
                <span style="margin-left: 3rem; text-indent: 1em;"> + Loại phụ (nếu có): {{req.sub_benefit}}</span><br>
                <span style="margin-left: 3rem; text-indent: 1em;"> + Số tiền bồi thường cho loại phụ (nếu có):
                    {{req.amount_sub}} (VNĐ)</span><br>
            </div>

            <div class="claim-info" style="margin-bottom: 1rem;">
                <p class="claim-info-title"><b>Thông tin liên quan khác</b></p>
                <span style="margin-left: 3rem;">Bên mua bảo hiểm: {{contract.name_contract_owner}}</span>
                <span style="margin-left: 7rem;">Số CMND/CCCD: {{ custInfo[0]?.id_card }}</span><br>
                <span style="margin-left: 3rem;">Điện thoại: {{ custInfo[0]?.phone_1 }}</span><br>
                <span style="margin-left: 3rem;">Địa chỉ liên hệ: {{ custInfo[0]?.curadd_no_street }}, {{
                    custInfo[0]?.curadd_wards }}, {{ custInfo[0]?.curadd_district }}, {{ custInfo[0]?.curadd_city
                    }}</span><br>
                <span style="margin-left: 3rem;">Số hồ sơ/ HĐBH: #HD{{contract.id}}</span>
                <span style="margin-left: 13.5rem;">Số bảng minh họa tương ứng:
                    #BMH{{contract.id_illustration}}</span><br>
                <!-- <span style="margin-left: 3rem;">Thời điểm xảy ra SKBH:</span><br>
                <span style="margin-left: 3rem;">Địa điểm xảy ra SKBH:</span><br> -->
                <span style="margin-left: 3rem;">Quyền lợi yêu cầu cần giải quyết thuộc loại bảo hiểm:
                    {{contract.insurance_type}}</span><br>
                <span style="margin-left: 3rem;">Tổng số tiền từ yêu cầu giải quyết quyền lợi: {{req.amount_main +
                    req.amount_sub}} (VNĐ)</span>
            </div>

            <div class="claim-info" style="margin-bottom: 1rem;">
                <p class="claim-info-title"><b>Hình thức tiếp nhận thông tin</b></p>

                <div class="form-check" style="margin-left: 3rem;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Qua điện thoại
                    </label>
                </div>

                <div class="form-check" style="margin-left: 3rem;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Qua email
                    </label>
                </div>

                <div class="form-check" style="margin-left: 3rem;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                    <label class="form-check-label" for="flexRadioDefault4">
                        Người thông báo gửi trực tuyến trên website ISolution.asia
                    </label>
                </div>

                <div class="form-check" style="margin-left: 3rem;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                    <label class="form-check-label" for="flexRadioDefault3">
                        Người thông báo nộp tại quầy Dịch vụ khách hàng
                    </label>
                </div>

            </div>
            <p>
                <span style="margin-left: 1rem;">..................., ngày ..... tháng ..... năm ........</span>
                <span style="margin-left: 6rem;">..................., ngày ..... tháng ..... năm ........</span><br>
            </p>
            <p>
                <span style="margin-left: 6rem;"><b>Người thông báo</b></span>
                <span style="margin-left: 17rem;"><b>Người tiếp nhận</b></span><br>
                <span style="margin-left: 5rem;"><i>(Ký và ghi rõ họ tên)</i></span>
                <span style="margin-left: 16rem;"><i>(Ký và ghi rõ họ tên)</i></span>
            </p>
            <br><br><br><br><br><br><br>

            <p style="margin-left: 9rem; padding-bottom: 3rem;">{{employeinfoDTO.name}}</p>
        </div>
    </div>

    <div class="btn-end" style="margin-left: 20rem; padding-bottom: 20px;">
        <!-- <button type="submit" class="btn btn-primary" [disabled]="requestForm.invalid" (click)="sendReq()">Xác
            nhận</button> -->
        <button type="button" class="btn btn-info" (click)="dowloadPDF()">Xuất tài liệu PDF</button>
    </div>
</body>

</html>