#chart {
    margin: auto;
}

#chart1 {
    margin: auto;
}

.bold {
    font-size: 3rem;
}

.text-header {
    text-transform: none;
}

.space{
    font-size: 3rem;
}

.small-box-footer {
    color: black;
}
