.mat-typography{
    width: 100%;
}

i{
    width: fit-content;
}

#chart {
    margin: auto;
}

#chart1 {
    margin: auto;
}

.bold {
    font-size: 3rem;
}

.text-header {
    text-transform: none;
}

.space{
    font-size: 3rem;
}

.small-box-footer {
    color: black;
}

.formKPI {
    display: flex;
}

.col-lg-3{
    max-width: 27%;
}

.col-12{
    max-width: 120%;
}