i{
    width: fit-content;
}

#chart {
    margin: auto;
}

#chart1 {
    margin: auto;
}

.bold {
    font-size: 3rem;
}

.text-header {
    text-transform: none;
}

.space{
    font-size: 3rem;
}

.small-box-footer {
    color: black;
}

.formKPI {
    display: flex;
}

.income-box{
    width: 340px;
    margin-right: 7px;
}

.contract-box{
    width: 275px;
    margin-right: 7px;
}

.birthday-info{
    width: 310px;
    margin-right: 7px;
}

.contact-info{
    width: 195px;
}

