<h2 mat-dialog-title class="title-dialog">THANH TOÁN BẰNG THẺ</h2>
<mat-dialog-content class="mat-topography">
    <p>Thiết bị đọc thẻ (POS/MPOS) của Nhân viên tư vấn (NVTV) hoặc tại các Trung tâm Dịch vụ<br> khách hàng của
        ISolution
        trên toàn quốc</p>
    <p>Quý khách vui lòng liên hệ NVTV đang phục vụ hợp đồng bảo hiểm của mình hoặc Nhân<br> viên Dịch vụ khách hàng tại
        các Trung tâm Dịch vụ khách hàng của ISolution trên toàn quốc để<br> tìm hiểu và sử dụng miễn phí các dịch vụ
        thanh
        toán phí bảo hiểm này.</p>
    <p><b><em>Lưu ý: Trường hợp Khách hàng muốn nhận lại Phí bảo hiểm đóng trước và/ hoặc Phí<br> bảo hiểm đóng thêm, đã
                được
                đóng
                bằng thẻ tín dụng, ISolution sẽ thanh toán bằng cách<br> chuyển khoản vào tài khoản Thẻ tín dụng đã sử
                dụng để
                thanh
                toán trước đó và trước<br> khi thanh toán ISolution sẽ trừ đi số tiền đúng bằng số Phí dịch vụ mà
                ISolution đã
                trả cho<br>
                Ngân hàng khi khách hàng thực hiện giao dịch.</em></b></p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Đóng</button>
</mat-dialog-actions>