<h2 mat-dialog-title class="title-dialog">KHÁCH HÀNG LÀ CÁ NHÂN</h2>
<mat-dialog-content class="mat-topography">
    <p>Để giúp khách hàng cập nhật kịp thời thông tin phí Bảo hiểm đến hạn, các thông báo/nhắc<br> phí được gửi đến
        khách hàng theo trình tự sau: </p>
    <p class="order"><b>1.1 Tin nhắn SMS</b></p>
    <p>Với các hợp đồng bảo hiểm chưa đóng phí định kỳ, khách hàng sẽ nhận được tối đa 4 lần (*)<br> thông báo bằng SMS
        :</p>
    <ul style="list-style-type:circle">
        <li class="li-list">Thông báo phí bảo hiểm đến hạn tại 15 ngày trước ngày đến hạn đóng phí.</li>
        <li class="li-list">Thông báo đến hạn đóng phí tại ngày đến hạn đóng phí.</li>
        <li class="li-list">Thông báo phí bảo hiểm quá hạn lần 1 tại 30 ngày sau ngày đến hạn đóng phí.</li>
        <li class="li-list">Thông báo phí bảo hiểm quá hạn lần 2 tại 45 ngày sau ngày đến hạn đóng phí.</li>
    </ul>
    <p><em>(*) Ngày đến hạn đóng phí, của các hợp đồng có định kỳ đóng phí hàng Tháng, là rất gần<br> nhau. Để không bị
            nhầm
            lẫn, khách hàng chỉ nhận được 1 SMS tại thời điểm 15 ngày trước<br> Ngày đến hạn đóng phí cho mỗi Ngày đến
            hạn
            đóng phí.</em></p>
    <p class="order"><b>1.2 Điện thoại trực tiếp đến khách hàng</b></p>
    <ul style="list-style-type:circle">
        <li class="li-list">
            Tại ngày thứ 45 kể từ ngày đến hạn đóng phí và phí định kỳ chưa được đóng, Nhân viên<br> Dịch vụ khách hàng
            Aviva sẽ điện thoại trao đổi với Bên mua bảo hiểm để hỗ trợ và<br> hướng dẫn các kênh đóng phí phù hợp và
            thuận
            tiện nhất cho khách hàng.
        </li>
    </ul>
    <img class="img-payment" src="assets/images/dongphibaohiem2.png">
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Đóng</button>
</mat-dialog-actions>