@import "assets/plugins/fontawesome-free/css/all.min.css";
@import "assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css";
@import "assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css";
@import "assets/plugins/jqvmap/jqvmap.min.css";
@import "assets/dist/css/adminlte.min.css";
@import "assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css";
@import "assets/plugins/daterangepicker/daterangepicker.css";
@import "assets/plugins/summernote/summernote-bs4.min.css";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback";
@import "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
@import "assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css";
@import "assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css";
@import "assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dt-buttons {
    background: gray;
    width: fit-content;
    padding: 5px;
    border-radius: 4px;
}

.buttons-copy,
.buttons-print,
.buttons-pdf,
.buttons-excel,
.buttons-csv {
    color: white;
    background-color: #1f1f1fd9;
    border: none;
    padding: 8px 13px;
    transition-duration: 0.4s;
    border-radius: 6px;
}