<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <ul style="list-style: none; padding: 10px;">
                                        <li style="padding: 10px;"><i class="fas fa-file-download" style="margin-right: 10px;"></i>
                                            <a href="" data-toggle="modal" data-target="#myModal">Bảng khai báo Thông tin Chính khách</a>
                                        </li>
                                        <li style="padding: 10px;"><i class="fas fa-file-download" style="margin-right: 10px;"></i>
                                            <a href="" onclick="popitup('bang-khai-bao-thong-tin-ve-ben-thu-ba.pdf')">Bảng khai báo Thông tin về Bên thứ ba</a>
                                        </li>
                                        <li style="padding: 10px;"><i class="fas fa-file-download" style="margin-right: 10px;"></i>
                                            <a href="" onclick="popitup('don-yeu-cau-bao-hiem-20122018.pdf')">Đơn yêu cầu bảo hiểm</a>
                                        </li>
                                        <li style="padding: 10px;"><i class="fas fa-file-download" style="margin-right: 10px;"></i>
                                            <a href="" onclick="popitup('don-yeu-cau-thay-doi-thong-tin-hdbh.pdf')">Đơn yêu cầu thay đổi thông tin Hợp đồng bảo hiểm</a>
                                        </li>
                                        <li style="padding: 10px;"><i class="fas fa-file-download" style="margin-right: 10px;"></i>
                                            <a href="" onclick="popitup('thong-bao-mat-bo-hop-dong-bao-hiem.pdf')">Thông báo mất bộ hợp đồng bảo hiểm</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="card card-primary">
                                <embed src="bang-khai-bao-thong-tin-ve-ben-thu-ba.pdf" frameborder="0" width="700px" height="650px">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>