<mat-dialog-content class="mat-typography">
    <div>
        <mat-tab-group>

            <mat-tab label="Danh Sách Khách Hàng Đến Hạn Đóng Tiền">
                <table style="text-align: center;" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Mã Hợp Đồng</th>
                            <th>Mã Khách Hàng</th>
                            <th>Chủ Hợp Đồng</th>
                            <th>Loại Bảo Hiểm</th>
                            <th>Mã Bảng Minh Họa</th>
                            <th>Chi Phí Bảo Hiểm</th>
                            <th>Kỳ Hạn Đóng Phí</th>
                            <th>Ngày Đăng Ký</th>
                            <th>Gửi Thông Báo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contract of data.listExpiredContract">
                            <td>#HD{{contract.id}}</td>
                            <td>#KH{{contract.id_customer}}</td>
                            <td>{{contract.name_contract_owner}}</td>
                            <td>{{contract.insurance_type}}</td>
                            <td>#BMH{{contract.id_illustration}}</td>
                            <td>{{contract.contract_total_value}}</td>
                            <td>{{paymentPeriod(contract.payment_period_id)}}</td>
                            <td>{{contract.start_time | date: 'dd-MM-yyyy'}}</td>
                            <button
                                (click)="sendPaymentNotification(contract.id_customer, contract.id, contract.insurance_type)"
                                class="btn btn-info" style="height: 40px; width: 130px; margin: 10px; color: white;">Gửi
                                Thông Báo</button>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </mat-tab>

            <mat-tab label="Danh Sách KH Sinh Nhật">
                <table style="text-align: center;" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Mã Khách Hàng</th>
                            <th>Tài Khoản Khách Hàng</th>
                            <th>Họ và Tên</th>
                            <th>Ngày Sinh</th>
                            <th>Địa Chỉ</th>
                            <th>Số Điện Thoại</th>
                            <th>Email</th>
                            <th>Nơi Làm Viêc</th>
                            <th>Gửi Thông Báo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customerinfo of data.listBirthdayCus">
                            <td>#KH{{customerinfo.id}}</td>
                            <td>{{customerinfo.code}}</td>
                            <td>{{customerinfo.full_name}}</td>
                            <td>{{customerinfo.birth_date | date:'dd-MM-yyyy'}}</td>
                            <td>{{customerinfo.conadd_city}}</td>
                            <td>{{customerinfo.phone_1}}</td>
                            <td>{{customerinfo.email}}</td>
                            <td>{{customerinfo.workadd_no_street}} {{customerinfo.workadd_district}}
                                {{customerinfo.workadd_city}}</td>
                            <button (click)="sendBirthdayNotification(customerinfo.id)" class="btn btn-info"
                                style="height: 40px; width: 130px; margin: 10px; color: white;">Gửi Thông Báo</button>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </mat-tab>

            <mat-tab label="Tạo Thông Báo Mới Đến KH">
                <form #reviewForm="ngForm">
                    <label class="label-title">Khách Hàng Nhận Thông Báo</label>
                    <ng-multiselect-dropdown [placeholder]="'Chọn Khách Hàng'" [settings]="dropdownSettings"
                        [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)"
                        (onDeSelectAll)="onItemDeSelectAll($event)">
                    </ng-multiselect-dropdown>
                    <label class="label-title">Loại Thông Báo</label>
                    <mat-select [(ngModel)]="type" name="type" class="form-control" required>
                        <mat-option [value]="1">
                            Yêu cầu bồi thường
                        </mat-option>
                        <mat-option [value]="2">
                            Nhắc nhở đến hạn thanh toán bảo hiểm
                        </mat-option>
                        <mat-option [value]="3">
                            Khuyến mại
                        </mat-option>
                        <mat-option [value]="4">
                            Chúc mừng sinh nhật khách hàng
                        </mat-option>
                    </mat-select>
                    <label class="label-title">Link&nbsp;</label>
                    <input *ngIf="type == 4 || type == 2 || type == 3" type="text" class="form-control"
                        placeholder="Enter ..." name="url" [(ngModel)]="url">
                    <label class="label-title">Tiêu Đề</label>
                    <textarea class="form-control" rows="2" maxlength="1000" placeholder="Enter ..." name="title"
                        [(ngModel)]="title" #note="ngModel" required>
                        </textarea>
                    <label class="label-title">Nội Dung</label>
                    <textarea class="form-control" rows="4" maxlength="3000" placeholder="Enter ..." name="description"
                        [(ngModel)]="description" #note="ngModel" required>
                        </textarea>
                </form>
                <button mat-button type="submit" [disabled]="reviewForm.invalid" (click)="sendNotification()"
                    class="btn btn-outline-info">Gửi</button>
            </mat-tab>

            <mat-tab label="Cài Đặt Gửi TB Tự Động">
                <form #notiSetting="ngForm">
                    <label class="label-title">Khách hàng sẽ nhận được thông báo trước:</label>
                    <input type="number" name="date_setting" required 
                        [(ngModel)]="notificationSetting.date_setting"> ngày
                </form>
                <button mat-button type="submit" [disabled]="notiSetting.invalid" (click)="saveSetting()"
                    class="btn btn-outline-info">Lưu</button>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-dialog-content>