
.container{
    width: 73%;
    background-color: white;
}

.card-header {
    text-align: center;
    text-transform: uppercase;
    /* font-weight: 600; */
    font-size: .5rem;
    color:cornflowerblue;
    /* margin-top: .5rem; */
    /* margin-right: 3.5rem;
    margin-left: 3.5rem; */
}



.png-logo{
    width: 8%;
    margin-bottom: 1rem;
}

.name-sys{
    font-weight: 400;
    font-size: .7rem;
}

.order-info{
    margin-top: 1rem;
    background: cornflowerblue ;
    color: black;
    font-size: 1.15rem;
    font-weight: 400;
    padding-top: 8px;
    height: 40px;
    padding-left: 3px;
}

.note {
    margin-top: 0;
    text-transform: lowercase;
    font-size: .8rem;
}

.form-container {
    max-width: 100%;
    margin-left: 1rem;
    margin-top: 2.5rem;
    margin-right: .85rem;
}

button {
    margin-left: 2rem;
}

input#file {
    display: inline-block;
    width: 9%;
    padding: 59px 0 0 0;
    height: 25px;
    overflow: hidden;
    box-sizing: border-box;
    background: url('../../../assets/images/upload.png') center center no-repeat #e4e4e4;
    border-radius: 15px;
    background-size: 50px 50px;
}

.custom-upload-div {
    padding: 1%;
}

.list-file {
    background: #ff8405e3;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

table{
    border-spacing: 7px;
    border-collapse: separate;
    border-radius: 2em;
    border-color: black;
}

.table-info{
    text-align: center;
    font-size: 15px;
    color:blue;
}

.momentDeath{
    padding-top: 45px;
    margin-left: 12px;
    margin-right: 5px;
    font-size: 14px;
}

.label-dateDeath{
    margin-right: 10px;
    padding-left: 20px;
}

.label-deathPlace{
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 20px;
}

.info-customer{
    margin-left: 10px;
    margin-right: 10px;
}

.sign-name{
    font-weight: 600;
    margin-left: 20px;
}

/* @media print {
    button {
      display: none;
    }

    input{
        border: none;
    }

    textarea{
        border: none;
    }

    a{
        display: none;
    }

    select{
        border: none;
    }

    .nothing{
        display: none;
    }
} */

.noting{
    color: red;
}

.nothing{
    color: red;
}

.btn-contact {
    padding: 0;
    border: none;
    background: none;
}

.button-fixed {
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: flex;
    position: fixed;
    right: 50px;
    bottom: 60px;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.button-fixed a {
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px 1px rgb(0 0 0 / 10%);
    border-radius: 25%;
    background: #ffd900;

    width: 70px;
    height: 70px;
    text-align: center;
}

.button-fixed a em {
    margin-bottom: 2px;
    color: #004fb6;
    font-size: 36px;
    line-height: 1;
}


.table-container{
    display: grid;
    margin: auto;
}

.noting {
    color: red;
}

.input-modify{
    margin-left: 20px;
}

.title-information{
    margin-top: 20px;
}
