<!DOCTYPE html>
<html>

<head>
    <!-- <title>HTML Backgorund Color</title> -->
</head>

<body style="background-color: gray;">

    <div class="container">
        <div class="card-header">
            <div class="form-row">
                <div class="col-md-6 mb-1">
                    <img src="assets/images/favicon.png" class="png-logo"><br>
                    <span class="name-sys">HỆ THỐNG BẢO HIỂM ISOLUTION</span>
                </div>
                <div class="col-md-6 mb-1">
                    <h2><b>Giấy yêu cầu bồi thường bảo hiểm <br>"Bảo hiểm ISolution"</b></h2>
                    <span class="note"><em>Vui lòng đọc kỹ và điền đầy đủ thông tin theo những nội dung dưới
                            đây</em></span>
                </div>
            </div>
        </div>

        <form class="form-container" #requestForm="ngForm">
            <p class="order-info">I. THÔNG TIN NGƯỜI ĐƯỢC BẢO HIỂM (NĐBH)</p>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="inputName">Họ và tên: </label>
                    <!-- <span>{{customerInfo.full_name}}</span> -->
                    <input type="text" class="form-control" id="inputName" name="code_sender" [(ngModel)]="fullName"
                        required>
                </div>

                <div class="col-md-4 mb-3">
                    <label>Ngày sinh: </label>
                    <input class="form-control" type="date" name="birthday">
                    <!-- <span>{{customerInfo.birth_date | date:'dd/MM/yyyy'}}</span> -->
                </div>

                <div class="col-md-4 mb-3">
                    <label for="inputCMND">Số CMND/CCCD: </label>
                    <!-- <span>{{customerInfo.id_card}}</span> -->
                    <input type="text" class="form-control" id="inputCMND" name="inputCMND" [(ngModel)]="id_card"
                        required>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-2 mb-3">
                    <label for="inputContractID">Mã số hợp đồng</label>
                    <select id="inputContractID" class="form-control" [formControl]="selectContract" required
                        (change)="onChangeContract($event.target.value)">
                        <option selected>Chọn hợp đồng...</option>
                        <option *ngFor="let contract of listContracts" [value]="contract.id">
                            #HD{{contract.id}}
                        </option>
                    </select>
                </div>
                <div class="col-md-2 mb-3" *ngFor="let contract of listContracts">
                    <label>Có hiệu lực từ: </label>
                    <!-- <span>{{contract.start_time | date:'dd/MM/yyyy'}}</span> -->
                    <input class="form-control" type="date" name="start_date">
                </div>
                <div class="col-md-2 mb-3" *ngFor="let contract of listContracts">
                    <label>đến</label>
                    <br>
                    <!-- <span>{{contract.end_time | date:'dd/MM/yyyy'}}</span> -->
                    <input class="form-control" type="date" name="end_date">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputBenefit">Quyền lợi bảo hiểm</label>
                    <select id="inputBenefit" class="form-control" required>
                        <option selected>Chọn loại quyền lợi bảo hiểm...</option>
                        <option *ngFor="let mainBenefit of listMainBenefitScale" [value]="mainBenefit.id">
                            {{mainBenefit.name}}
                        </option>
                        <option *ngFor="let subBenefit of listSubBenefitScale" [value]="subBenefit.id">
                            {{subBenefit.name}}
                        </option>
                    </select>
                </div>
            </div>

            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0"><b>Giới tính</b></legend>

                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridGender" id="gridMale" value="male"
                                checked>
                            <label class="form-check-label" for="gridRadios1">
                                Nam
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridGender" id="gridFemale"
                                value="female">
                            <label class="form-check-label" for="gridRadios2">
                                Nữ
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="form-row">
                <label for="inputAddress">Địa chỉ liên hệ: </label>
                <!-- <span>{{customerInfo.conadd_no_street + " , " + customerInfo.conadd_district + " , " +
                    customerInfo.conadd_city}}</span> -->
                <input type="text" class="form-control" id="inputAddress" name="inputAddress" [(ngModel)]="address"
                    required>
            </div>

            <div class="form-row" style="margin-top: 1rem;">
                <div class="col-md-6 mb-1">
                    <label for="inputPhone">Số ĐT: </label>
                    <!-- <span>{{ customerInfo.phone_1}}</span> -->
                    <input type="text" class="form-control" id="inputPhone" name="inputPhone" [(ngModel)]="phoneNo"
                        required>
                </div>
                <div class="col-md-6 mb-1">
                    <label for="inputEmail">Email: </label>
                    <!-- <span>{{customerInfo.email}}</span> -->
                    <input type="email" class="form-control" id="inputEmail" name="inputEmail" [(ngModel)]="email"
                        required>
                </div>
            </div>

            <p class="order-info">II. THÔNG TIN VỀ SỰ KIỆN BẢO HIỂM</p>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label>Ngày xảy ra</label>
                    <input class="form-control" type="date" name="day_happen">
                </div>
            </div>

            <div class="mb-4">
                <label for="validationTextarea">Mô tả về sự kiện bảo hiểm</label>
                <textarea class="form-control" id="validationTextarea" name="name" [(ngModel)]="name"
                    required></textarea>
            </div>

            <p class="order-info">III.THÔNG TIN Y TẾ <i>(từ trước đến nay)</i></p>
            <div>
                <table class="table table-hover">
                    <tr class="table-info">
                        <th style="width: 100px;">Ngày khám/<br>
                            Ngày nhập viện</th>
                        <th style="width: 100px;">Ngày xuất viện</th>
                        <th>Chuẩn đoán bệnh/thương tổn</th>
                        <th>Tên và địa chỉ bệnh viện</th>
                    </tr>
                    <tr class="table-light">
                        <td><input class="form-control" type="date" name="inputDateIn"></td>
                        <td><input class="form-control" type="date" name="inputDateOut"></td>
                        <td><input class="form-control" type="text" name="namePataient"></td>
                        <td><input class="form-control" type="text" name="nameHospital"></td>
                    </tr>

                    <tr class="table-light">
                        <td><input class="form-control" type="date" name="inputDateIn"></td>
                        <td><input class="form-control" type="date" name="inputDateOut"></td>
                        <td><input class="form-control" type="text" name="namePataient"></td>
                        <td><input class="form-control" type="text" name="nameHospital"></td>
                    </tr>

                    <tr class="table-light">
                        <td><input class="form-control" type="date" name="inputDateIn"></td>
                        <td><input class="form-control" type="date" name="inputDateOut"></td>
                        <td><input class="form-control" type="text" name="namePataient"></td>
                        <td><input class="form-control" type="text" name="nameHospital"></td>
                    </tr>

                    <tr class="table-light">
                        <td><input class="form-control" type="date" name="inputDateIn"></td>
                        <td><input class="form-control" type="date" name="inputDateOut"></td>
                        <td><input class="form-control" type="text" name="namePataient"></td>
                        <td><input class="form-control" type="text" name="nameHospital"></td>
                    </tr>
                </table>
            </div>

            <p style="font-size: 14px;"><strong>Chi tiết về tử vong</strong> (nếu yêu cầu quyền lợi tử vong):</p>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label class="label-dateDeath">Ngày tử vong:</label>
                    <input class="form-control" type="date" name="inputDateDeath">
                </div>
                <div>
                    <label class="label-dateDeath">Thời điểm tử vong:</label>
                    <input class="form-control" type="number" name="inputHourDeath">
                </div>
                <p class="momentDeath"><b>giờ</b></p>
                <div class="col-md-2 mb-3">
                    <label>&nbsp;</label>
                    <input class="form-control" style="margin-left: 10px;" type="number" name="inputMinutesDeath">
                </div>
                <p class="momentDeath"><b>phút</b></p>
            </div>

            <div class="form-row">
                <label class="label-dateDeath">Nguyên nhân tử vong</label>
                <input class="form-control" type="text" name="deathReason">
            </div>

            <div class="form-row">
                <label class="label-deathPlace">Nơi tử vong</label>
                <input class="form-control" type="text" name="deathPlace">
            </div>
            <p style="margin-top: 7px;">(ghi rõ tên bệnh viện nếu tử vong tại bệnh viện)
            </p>
            <br>

            <p class="order-info">IV. THÔNG TIN TAI NẠN <i>(Quý khách vui lòng cung cấp thông tin nếu thương tổn do
                    nguyên
                    nhân
                    tai nạn)</i></p>
            <div class="form-row">
                <div>
                    <label class="label-dateDeath">Tai nạn xảy ra lúc</label>
                    <input class="form-control" type="number" name="accidentHour">
                </div>
                <p class="momentDeath"><b>giờ</b></p>
                <div class="col-md-2 mb-3">
                    <label>&nbsp;</label>
                    <input class="form-control" style="margin-left: 10px;" type="number" name="accidentMinute">
                </div>
                <p class="momentDeath"><b>phút</b></p>
                <p class="momentDeath"><b>ngày</b></p>
                <div class="col-md-3 mb-3">
                    <label>&nbsp;</label>
                    <input class="form-control" style="margin-left: 10px;" type="date" name="accidentDate">
                </div>
            </div>

            <div class="form-row">
                <label class="label-dateDeath">Nơi xảy ra tai nạn</label>
                <input class="form-control" type="text" name="accidentPlace">
            </div>

            <div class="form-row" style="margin-top: 13px;">
                <label class="label-dateDeath">Diễn biến tai nạn</label>
                <textarea class="form-control" name="accidentDetail" rows="4"></textarea>
            </div>

            <div class="form-row" style="margin-top: 13px;">
                <label class="label-dateDeath">Tình trạng thương tích</label>
                <textarea class="form-control" name="accidentDetail" rows="4"></textarea>
            </div>


            <p class="order-info">V. THÔNG TIN VỀ NGƯỜI YÊU CẦU BỒI THƯỜNG (ĐỒNG THỜI LÀ NGƯỜI NHẬN
                TIỀN)</p>
            <p><em>Người yêu cầu bồi thường phải là NĐBH hoặc người thừa kế/người thụ hưởng/người được chỉ định trên
                    giấy chứng nhân bảo hiểm (GCNBH)/người được ủy quyền hợp pháp của NĐBH hoặc bố/mẹ/người giám hộ
                    hợp pháp trong trường hợp NĐBH dưới 18 tuổi. Chỉ điền các thông tin nếu NĐBH khác với người yêu cầu
                    bồi thường.</em>
            </p>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="inputName2">Họ và tên</label>
                    <input type="text" class="form-control" id="inputName2" name="code_sender2">
                </div>

                <div class="col-md-4 mb-3">
                    <label>Ngày sinh</label>
                    <input class="form-control" type="date" name="birthday2">
                </div>

                <div class="col-md-4 mb-3">
                    <label for="inputCMND2">Số CMND/CCCD</label>
                    <input type="number" class="form-control" id="inputCMND2">
                </div>
            </div>

            <div class="form-row">
                <label for="inputAddress2">Địa chỉ liên hệ</label>
                <input type="text" class="form-control" id="inputAddress2">
            </div>

            <div class="form-row" style="margin-top: 1rem;">
                <div class="col-md-6 mb-1">
                    <label for="inputPhone2">Số ĐT</label>
                    <input type="text" class="form-control" id="inputPhone2">
                </div>
                <div class="col-md-6 mb-1">
                    <label for="inputEmail2">Email</label>
                    <input type="email" class="form-control" id="inputEmail2">
                </div>
            </div>

            <p class="order-info">VI. CAM KẾT VÀ ĐỒNG Ý</p>

            <p>Tôi/chúng tôi cam kết những thông tin cung cấp trên đây là đầy đủ và đúng sự thật</p>
            <p>Tôi/chúng tôi ủy quyền cho bất kỳ tổ chức, công ty hay cá nhân nào có hồ sơ hay có hiểu biết về thông
                tin cá nhân, sức khỏe, bệnh sử hay việc điều trị của Người được bảo hiểm được phép tiết lộ cho Công ty
                hay người đại diện của Công ty bất cứ thông tin nào mà Công ty yêu cầu.
            </p>
            <p>Tôi/chúng tôi đồng ý hợp tác với Công ty trong việc xác minh cũng như cung cấp đầy đủ các chứng từ cần
                thiết liên quan đến sự kiện bảo hiểm mà Công ty yêu cầu.</p>

            <p>Tôi/chúng tôi với tư cách đại diện cho cá nhân Bên mua bảo hiểm (BMBH)/Người được bảo hiểm (NĐBH)
                hoặc đại diện hợp pháp của người được nhận quyền lợi bảo hiểm này, theo đây:</p>
            <p><span>- </span> Cho phép Công ty được quyền cung cấp các thông tin cá nhân của BMBH/ NĐBH/ NTH và các
                thông tin liên quan đến hợp đồng bảo hiểm này và/hoặc các hợp đồng bảo hiểm khác có liên quan đến
                BMBH/ NĐBH/ NTH cho bất kỳ cơ quan nhà nước có thẩm quyền nào.</p>
            <br><br>

            <p class="sign-name">NGƯỜI YÊU CẦU GIẢI QUYẾT QUYỀN LỢI BẢO HIỂM</p>
            <p style="margin-left: 60px;"><i>(ký tên và ghi họ tên bằng chữ thường)</i></p>
            <br><br><br><br><br><br><br><br><br>
            <p style="margin-left: 130px; font-size: 20px;">{{fullName}}</p>

            <div class="form-group">
                <div class="custom-upload-div">
                    <label for="inputFile">Giấy tờ kèm theo</label>
                    <p *ngFor="let file of selectedFile ; index as i" class="list-file">{{ file.name }} &nbsp;&nbsp;
                        <span (click)="removeFile(i)" style="padding: 5px;"><i class="fas fa-times"
                                style="color: gray;"></i></span>
                    </p>
                    <input id="file" type="file" (change)="onChangeFile($event)" multiple />
                </div>
            </div>
            <!-- <br><br><br><br><br> -->
        </form>
        <div class="btn-end" style="margin-left: 20rem; padding-bottom: 20px;">
            <a href="/" type="submit" class="btn btn-warning">Trở về</a>
            <button type="submit" class="btn btn-primary" [disabled]="requestForm.invalid" (click)="sendReq()">Xác
                nhận</button>
            <button type="button" class="btn btn-info" (click)="dowloadPDF()">Xuất tài liệu PDF</button>
        </div>
    </div>
</body>

</html>