<body class="hold-transition">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-block btn-success btn-lg" style="width: 210px; margin-top: 16px;" (click)="openDialog()">{{ addEmployeeBtn }}</button>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- search -->

                                <app-view-em-table></app-view-em-table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>