<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content-wrapper-modify">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <mat-tab-group *ngIf="id_role == '4'">
                                <mat-tab label="Danh sách yêu cầu xét duyệt BH">
                                    <div class="card-body">
                                        <h2><b>Danh Sách Yêu Cầu Xét Duyệt BH</b></h2>
                                        <div class="searchWithDateandValue">
                                            <div class="left">
                                            </div>
                                            <div class="right">
                                                <div class="input-group searchBar">
                                                    <input type="search" class="form-control form-control-lg"
                                                        [(ngModel)]="searchValueRequest"
                                                        placeholder="Nhập từ khóa cần tìm">
                                                </div>
                                                <div class="date">
                                                    <label>Từ Ngày<input id="RfromSearchRequest" type="date"
                                                            name="dateFromRequest" [(ngModel)]="dateFromRequest"
                                                            class="form-control form-control-sm" placeholder=""
                                                            aria-controls="example1"></label>
                                                    <label style="margin-left: 2%;"> Đến Ngày<input
                                                            id="RtoSearchRequest" type="date" name="dateToRequest"
                                                            [(ngModel)]="dateToRequest"
                                                            class="form-control form-control-sm" placeholder=""
                                                            aria-controls="example1"></label>
                                                    <button type="button" class="btn btn-danger btn-date"
                                                        (click)="ResetDateRequest()">Xóa
                                                        ngày</button>
                                                    <button type="button" class="btn btn-info btn-date"
                                                        (click)="SearchRequest()">Tìm kiếm
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-striped" style="text-align: center;">
                                            <thead>
                                                <tr>
                                                    <th (click)="sort('id_contract')">Mã Hợp Đồng&nbsp;<i
                                                            class="fas fa-sort"></i>
                                                    </th>
                                                    <th (click)="sort('name')">Tên Yêu Cầu&nbsp;<i
                                                            class="fas fa-sort"></i>
                                                    </th>
                                                    <th (click)="sort('priority')">Độ Ưu Tiên&nbsp;<i
                                                            class="fas fa-sort"></i></th>
                                                    <th (click)="sort('date')">Ngày Gửi&nbsp;<i class="fas fa-sort"></i>
                                                    </th>
                                                    <th (click)="sort('code_sender')">Người Gửi&nbsp;<i
                                                            class="fas fa-sort"></i>
                                                    </th>
                                                    <th>Chi Tiết</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let contractRequest of contractRequests | orderBy: key:reverse | paginate: { id: 'listing_pagination_request' ,itemsPerPage: 6, currentPage: pageRequest, totalItems: totalRecordsRequest}">
                                                    <td>#HD{{contractRequest.id_contract}}</td>
                                                    <td>{{contractRequest.name}}</td>
                                                    <td>{{contractRequest.priority}}</td>
                                                    <td>{{contractRequest.date | date: 'dd-MM-yyyy'}}</td>
                                                    <td>{{contractRequest.code_sender}}</td>
                                                    <td><button (click)="requestDetail(contractRequest.id)"
                                                            class="btn btn-info"
                                                            style="height: 100%; width: 100%; color: white;">Chi
                                                            Tiết</button></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Mã Hợp Đồng</th>
                                                    <th>Tên Yêu Cầu</th>
                                                    <th>Độ Ưu Tiên</th>
                                                    <th>Ngày Gửi</th>
                                                    <th>Người Gửi</th>
                                                    <th>Chi Tiết</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <pagination-controls style="float: right;" id="listing_pagination_request"
                                            maxSize="5" directionLinks="true" (pageChange)="pageRequest = $event">
                                        </pagination-controls>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Danh sách yêu cầu đã được chấp thuận chi trả">
                                    <div class="card-body">
                                        <h2><b>Danh Sách Yêu Cầu Đã Được Chấp Thuận Chi Trả</b></h2>
                                        <div class="searchWithDateandValue">
                                            <div class="left">
                                            </div>
                                            <div class="right">
                                                <div class="input-group searchBar">
                                                    <input type="search" class="form-control form-control-lg"
                                                        [(ngModel)]="searchValueApproved"
                                                        placeholder="Nhập từ khóa cần tìm">
                                                </div>
                                                <div class="date">
                                                    <label>Từ Ngày<input id="RfromSearchApproved" type="date"
                                                            name="dateFromApproved" [(ngModel)]="dateFromApproved"
                                                            class="form-control form-control-sm" placeholder=""
                                                            aria-controls="example1"></label>
                                                    <label style="margin-left: 2%;"> Đến Ngày<input
                                                            id="RtoSearchApproved" type="date" name="dateToApproved"
                                                            [(ngModel)]="dateToApproved"
                                                            class="form-control form-control-sm" placeholder=""
                                                            aria-controls="example1"></label>
                                                    <button type="button" class="btn btn-danger btn-date"
                                                        (click)="ResetDateApproved()">Xóa
                                                        ngày</button>
                                                    <button type="button" class="btn btn-info btn-date"
                                                        (click)="SearchApproved()">Tìm kiếm
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-striped" style="text-align: center;">
                                            <thead>
                                                <tr>
                                                    <th (click)="sort('contractRequestsApproved.id_contract')">Mã
                                                        Hợp Đồng&nbsp;<i class="fas fa-sort"></i></th>
                                                    <th (click)="sort('contractRequestsApproved.description')">Ghi
                                                        chú</th>
                                                    <th (click)="sort('amount_main')">Tổng Chi Trả&nbsp;<i
                                                            class="fas fa-sort"></i></th>
                                                    <th (click)="sort('contractRequestsApproved.date')">Ngày
                                                        Gửi&nbsp;<i class="fas fa-sort"></i></th>
                                                    <th (click)="sort('contractRequestsApproved.code_sender')">Người
                                                        Gửi&nbsp;<i class="fas fa-sort"></i></th>
                                                    <th (click)="sort('contractRequestsApproved.status')">Trạng
                                                        Thái&nbsp;<i class="fas fa-sort"></i></th>
                                                    <th>Chi Tiết</th>
                                                    <th>Gửi đề xuất thanh toán</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let contractRequestsApproved of contractRequestsApproveds | orderBy: key:reverse | paginate: { id: 'listing_pagination_approved' ,itemsPerPage: 6, currentPage: pageApproved, totalItems: totalRecordsApproveds}">
                                                    <td>#HD{{contractRequestsApproved.id_contract}}</td>
                                                    <td>
                                                        <p class="description">
                                                            {{contractRequestsApproved.description}}</p>
                                                    </td>
                                                    <td>{{contractRequestsApproved.amount_main +
                                                        contractRequestsApproved.amount_sub}}</td>
                                                    <td>{{contractRequestsApproved.date | date:'dd-MM-yyyy'}}</td>
                                                    <td>{{contractRequestsApproved.code_sender}}</td>
                                                    <td>{{contractRequestsApproved.status}}</td>
                                                    <td><button
                                                            (click)="requestDetail(contractRequestsApproved.id_request)"
                                                            class="btn btn-info"
                                                            style="height: 40px; width: 100px; margin: 10px; color: white;">Chi
                                                            Tiết</button></td>
                                                    <td><button (click)="claimNoticeForm(contractRequestsApproved.id)"
                                                            class="btn btn-info"
                                                            style="height: 40px; width: 200px; margin: 10px; color: white;">In
                                                            đề xuất thanh toán</button></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Mã Hợp Đồng</th>
                                                    <th>Ghi chú</th>
                                                    <th>Tổng Chi Trả</th>
                                                    <th>Ngày Gửi</th>
                                                    <th>Người Gửi</th>
                                                    <th>Trạng Thái</th>
                                                    <th>Chi tiết</th>
                                                    <th>Gửi đề xuất thanh toán</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <pagination-controls style="float: right;" id="listing_pagination_approved"
                                            maxSize="5" directionLinks="true" (pageChange)="pageApproved = $event">
                                        </pagination-controls>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Danh sách lịch sử yêu cầu xét duyệt">
                                    <div class="card-body">
                                        <h2><b>Danh Sách Lịch Sử Yêu Cầu Xét Duyệt BH</b></h2>
                                        <div class="searchWithDateandValue">
                                            <div class="left">
                                            </div>
                                            <div class="right">
                                                <div class="input-group searchBar">
                                                    <input type="search" class="form-control form-control-lg"
                                                        [(ngModel)]="searchValueApproval"
                                                        placeholder="Nhập từ khóa cần tìm">
                                                </div>
                                                <div class="date">
                                                    <label>Từ Ngày<input id="RfromSearchApproval" type="date"
                                                            name="dateFromApproval" [(ngModel)]="dateFromApproval"
                                                            class="form-control form-control-sm" placeholder=""
                                                            aria-controls="example1"></label>
                                                    <label style="margin-left: 2%;"> Đến Ngày<input
                                                            id="RtoSearchApproval" type="date" name="dateToApproval"
                                                            [(ngModel)]="dateToApproval"
                                                            class="form-control form-control-sm" placeholder=""
                                                            aria-controls="example1"></label>
                                                    <button type="button" class="btn btn-danger btn-date"
                                                        (click)="ResetDateApproval()">Xóa
                                                        ngày</button>
                                                    <button type="button" class="btn btn-info btn-date"
                                                        (click)="SearchApproval()">Tìm kiếm
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-striped" style="text-align: center;">
                                            <thead>
                                                <tr>
                                                    <th (click)="sort('contractRequestsApproval.id_contract')">Mã
                                                        Hợp Đồng&nbsp;<i class="fas fa-sort"></i></th>
                                                    <th (click)="sort('contractRequestsApproval.description')">Ghi
                                                        chú</th>
                                                    <th (click)="sort('contractRequestsApproval.date')">Ngày
                                                        Gửi&nbsp;<i class="fas fa-sort"></i></th>
                                                    <th (click)="sort('contractRequestsApproval.code_sender')">Người
                                                        Gửi&nbsp;<i class="fas fa-sort"></i></th>
                                                    <th (click)="sort('contractRequestsApproval.status')">Trạng
                                                        Thái&nbsp;<i class="fas fa-sort"></i></th>
                                                    <th>Chi Tiết</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let contractRequestsApproval of contractRequestsApprovals | orderBy: key:reverse | paginate: { id: 'listing_pagination_approval' ,itemsPerPage: 6, currentPage: pageApprovals, totalItems: totalRecordsApprovals}">
                                                    <td>#HD{{contractRequestsApproval.id_contract}}</td>
                                                    <td>
                                                        <p class="description">
                                                            {{contractRequestsApproval.description}}</p>
                                                    </td>
                                                    <td>{{contractRequestsApproval.date | date:'dd-MM-yyyy'}}</td>
                                                    <td>{{contractRequestsApproval.code_sender}}</td>
                                                    <td>{{contractRequestsApproval.status}}</td>
                                                    <td><button (click)="requestDetail(contractRequestsApproval.id)"
                                                            class="btn btn-info"
                                                            style="height: 40px; width: 100px; margin: 10px; color: white;">Chi
                                                            Tiết</button></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Mã Hợp Đồng</th>
                                                    <th>Ghi chú</th>
                                                    <th>Ngày Gửi</th>
                                                    <th>Người Gửi</th>
                                                    <th>Trạng Thái</th>
                                                    <th>Chi Tiết</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <pagination-controls style="float: right;" id="listing_pagination_approval"
                                            maxSize="5" directionLinks="true" (pageChange)="pageApprovals = $event">
                                        </pagination-controls>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                            <mat-tab-group *ngIf="id_role == '6'">
                                <mat-tab label="Danh sách yêu cầu xét duyệt BH">
                                    <div class="card-body">
                                        <h2><b>Danh Sách Yêu Cầu Xét Duyệt BH</b></h2>
                                        <div class="searchWithDateandValue">
                                            <div class="left">
                                            </div>
                                            <div class="right">
                                                <div class="input-group searchBar">
                                                    <input type="search" class="form-control form-control-lg"
                                                        [(ngModel)]="searchValueUncheck"
                                                        placeholder="Nhập từ khóa cần tìm">
                                                </div>
                                                <div class="date">
                                                    <label>Từ Ngày<input id="RfromSearchUncheck" type="date"
                                                            name="dateFromUncheck" [(ngModel)]="dateFromUncheck"
                                                            class="form-control form-control-sm" placeholder=""
                                                            aria-controls="example1"></label>
                                                    <label style="margin-left: 2%;"> Đến Ngày<input
                                                            id="RtoSearchUncheck" type="date" name="dateToUncheck"
                                                            [(ngModel)]="dateToUncheck"
                                                            class="form-control form-control-sm" placeholder=""
                                                            aria-controls="example1"></label>
                                                    <button type="button" class="btn btn-danger btn-date"
                                                        (click)="ResetDateUncheck()">Xóa
                                                        ngày</button>
                                                    <button type="button" class="btn btn-info btn-date"
                                                        (click)="SearchUncheck()">Tìm kiếm
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-striped" style="text-align: center;">
                                            <thead>
                                                <tr>
                                                    <th (click)="sort('id_contract')">Mã Hợp Đồng&nbsp;<i
                                                            class="fas fa-sort"></i>
                                                    </th>
                                                    <th (click)="sort('name')">Tên Yêu Cầu&nbsp;<i
                                                            class="fas fa-sort"></i>
                                                    </th>
                                                    <th (click)="sort('amount_main')">Tổng Chi Trả&nbsp;<i
                                                            class="fas fa-sort"></i></th>
                                                    <th (click)="sort('date')">Ngày Gửi&nbsp;<i class="fas fa-sort"></i>
                                                    </th>
                                                    <th (click)="sort('code_sender')">Người Gửi&nbsp;<i
                                                            class="fas fa-sort"></i>
                                                    </th>
                                                    <th>Chi Tiết</th>
                                                    <th>Xét Duyệt</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let claimRequest of requestManagerUncheck | orderBy: key:reverse | paginate: { id: 'listing_pagination_uncheck' ,itemsPerPage: 6, currentPage: pageManagerUncheck, totalItems: totalManagerUncheck}">
                                                    <td>#HD{{claimRequest.id_contract}}</td>
                                                    <td>{{claimRequest.name}}</td>
                                                    <td>{{claimRequest.amount_main + claimRequest.amount_sub}}</td>
                                                    <td>{{claimRequest.date | date: 'dd-MM-yyyy'}}</td>
                                                    <td>{{claimRequest.code_sender}}</td>
                                                    <td><button (click)="requestDetail(claimRequest.id_request)"
                                                            class="btn btn-info"
                                                            style="height: 100%; width: 100%; color: white;">Chi
                                                            Tiết</button></td>
                                                    <td><button (click)="displayConfirmDialog(claimRequest)"
                                                            class="btn btn-danger"
                                                            style="height: 100%; width: 100%; color: white;">Xét
                                                            Duyệt</button></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Mã Hợp Đồng</th>
                                                    <th>Tên Yêu Cầu</th>
                                                    <th>Tổng Chi Trả</th>
                                                    <th>Ngày Gửi</th>
                                                    <th>Người Gửi</th>
                                                    <th>Chi Tiết</th>
                                                    <th>Xét Duyệt</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <pagination-controls style="float: right;" id="listing_pagination_uncheck"
                                            maxSize="5" directionLinks="true"
                                            (pageChange)="pageManagerUncheck = $event">
                                        </pagination-controls>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Danh sách lịch sử yêu cầu xét duyệt">
                                    <div class="card-body">
                                        <h2><b>Danh Sách Lịch Sử Yêu Cầu Xét Duyệt BH</b></h2>
                                        <div class="searchWithDateandValue">
                                            <div class="left">
                                            </div>
                                            <div class="right">
                                                <div class="input-group searchBar">
                                                    <input type="search" class="form-control form-control-lg"
                                                        [(ngModel)]="searchValueCheck"
                                                        placeholder="Nhập từ khóa cần tìm">
                                                </div>
                                                <div class="date">
                                                    <label>Từ Ngày<input id="RfromSearchCheck" type="date"
                                                            name="dateFromCheck" [(ngModel)]="dateFromCheck"
                                                            class="form-control form-control-sm" placeholder=""
                                                            aria-controls="example1"></label>
                                                    <label style="margin-left: 2%;"> Đến Ngày<input id="RtoSearchCheck"
                                                            type="date" name="dateToCheck" [(ngModel)]="dateToCheck"
                                                            class="form-control form-control-sm" placeholder=""
                                                            aria-controls="example1"></label>
                                                    <button type="button" class="btn btn-danger btn-date"
                                                        (click)="ResetDateCheck()">Xóa
                                                        ngày</button>
                                                    <button type="button" class="btn btn-info btn-date"
                                                        (click)="SearchCheck()">Tìm kiếm
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-striped" style="text-align: center;">
                                            <thead>
                                                <tr>
                                                    <th (click)="sort('contractRequestsApproval.id_contract')">Mã
                                                        Hợp Đồng&nbsp;<i class="fas fa-sort"></i></th>
                                                    <th (click)="sort('contractRequestsApproval.description')">Ghi
                                                        chú</th>
                                                    <th (click)="sort('amount_main')">Tổng Chi Trả&nbsp;<i
                                                            class="fas fa-sort"></i></th>
                                                    <th (click)="sort('contractRequestsApproval.date')">Ngày
                                                        Gửi&nbsp;<i class="fas fa-sort"></i></th>
                                                    <th (click)="sort('contractRequestsApproval.code_sender')">Người
                                                        Gửi&nbsp;<i class="fas fa-sort"></i></th>
                                                    <th (click)="sort('contractRequestsApproval.status')">Trạng
                                                        Thái&nbsp;<i class="fas fa-sort"></i></th>
                                                    <th>Chi Tiết</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let claimRequestChecked of requestManagerCheck | orderBy: key:reverse | paginate: { id: 'listing_pagination_check' ,itemsPerPage: 6, currentPage: pageManagerCheck, totalItems: totalManagerCheck}">
                                                    <td>#HD{{claimRequestChecked.id_contract}}</td>
                                                    <td>
                                                        <p class="description">
                                                            {{claimRequestChecked.description}}</p>
                                                    </td>
                                                    <td>{{claimRequestChecked.amount_main +
                                                        claimRequestChecked.amount_sub}}</td>
                                                    <td>{{claimRequestChecked.date | date:'dd-MM-yyyy'}}</td>
                                                    <td>{{claimRequestChecked.code_sender}}</td>
                                                    <td>{{claimRequestChecked.status}}</td>
                                                    <td><button (click)="requestDetail(claimRequestChecked.id_request)"
                                                            class="btn btn-info"
                                                            style="height: 40px; width: 100px; margin: 10px; color: white;">Chi
                                                            Tiết</button></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Mã Hợp Đồng</th>
                                                    <th>Ghi chú</th>
                                                    <th>Tổng Chi Trả</th>
                                                    <th>Ngày Gửi</th>
                                                    <th>Người Gửi</th>
                                                    <th>Trạng Thái</th>
                                                    <th>Chi Tiết</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <pagination-controls style="float: right;" id="listing_pagination_check"
                                            maxSize="5" directionLinks="true" (pageChange)="pageManagerCheck = $event">
                                        </pagination-controls>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- /.content-wrapper -->