img {
    width: 50%;
    height: auto;
}

.active {
    display: block;
}

.btn-item {
    width: 200px;
    margin: 10px;
}

.content-detail {
    height: 100%;
}

.custom-bnt {
    width: 100%;
}

.custom-div {
    background: white;
    width: 100%;
    padding: 10px;
    box-shadow: 0 3px 6px 3px rgb(0 0 0 / 20%);
    text-align: center;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
}

.custom-wraper {
    padding-bottom: 3%;
    margin: 1%;
    background: #fafafa;
}

.form-control-custom {
    padding: 10px;
    margin: 10px;
}